<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
	品牌宝-成本低、展示广、精度高的网络品牌推广平台，以信任促成交易。
	</title>
</head>
<body style="margin: 0;padding: 0">
	<div style="min-width: 980px;text-align:center; font:14px/1.5 'lucida grande', 'lucida sans unicode', lucida, 'Helvetica Neue', helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;">
		<div style="background: url(../images/banner.jpg) center top no-repeat #f14c0a;height:588px; position: relative">
			<div style="position: absolute;top: 0;left: 0;display:none;height:588px">
				<h2>
					<span>ppb</span>
					2016年中国互联网消费金融
					<strong>营销发展研究报告</strong>
				</h2>
				<p>品牌宝权威发布系列 I</p>
			</div>
		</div>
		<div style="background-color: #fff;padding: 80px 0;">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">消费金融全产业链</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">多业态疾行，释放消费潜力，充分发挥非银行金融机构作用，促进产业和金融更紧密结合</p>
			</div>
			<div style="background:url(../images/chain.png) center top no-repeat #fff;height: 326px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 326px;width:100%;display:none">
					<h3>消费金融全产业链</h3>
					<ul>
						<li>资金端：ABS、众筹、PE等</li>
						<li>运营端：1第三方支付 ,2保险、信托、合作机构</li>
						<li>风控端：1大数据、征信机构 ,2政策监管、技术把控</li>
						<li>主体市场：消费金融公司、电商、P2P、银行等</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="background-color: #f8f8f8;padding: 80px 0">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">消费金融的宏观格局</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">政策推动、消费观念升级及征信体系发展等因素将共同促进互联网消费金融行业发展</p>
			</div>
			<div style="background:url(../images/pattern.png) center top no-repeat #f8f8f8;height: 359px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 359px;width:100%;display:none">
					<h3>2011-2017年中国互联网消费金融交易规模及增速</h3>
					<ul>
						<li>2015 年称为消费金融元年，消费金融还属于蓝海市场。</li>
						<li>2014-2019 年中国消费信贷规模将维持 19.5% 的复合增长率，预计 2019 年达到 37.4 万亿。</li>
						<li>2015 年，中国电子商务交易额达到 20.8 万亿元人民币，同比增长约 27%。</li>
						<li> 2015 年 P2P 借贷平台共 3657 家 ( 仅包括有线上业务的平台 )，其中正常运营的有 1924 家，较去年增长74.1%。</li>
					</ul>
				</div>
			</div>
		</div>
		<div style="background-color: #fff;padding: 80px 0">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">网民群体的扩大是消费金融发展的基石</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">伴随着互联网对于传统经济渗透的加速，消费金融的风口已经到来</p>
			</div>
			<div style="background:url(../images/internet_users.png) center top no-repeat #fff;height: 302px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 302px;width:100%;display:none">
					
				</div>
			</div>
		</div>
		<div style="background-color: #f8f8f8;padding: 80px 0">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">电子商务成消费金融全新增长点</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">伴随着互联网对于传统经济渗透的加速，消费金融的风口已经到来</p>
			</div>
			<div style="background:url(../images/e_commerce.png) center top no-repeat #f8f8f8;height: 411px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 411px;width:100%;display:none">
					<h3>电子商务交易规模</h3>
					<p>2015年中国网络购物市场继续保持快速发展。当年度全国网络零售交易额达3.88万亿元，同比增长33.3%。其中，B2C交易额2.02万亿元，同比增长53.7%。</p>
					<h3>2011-2018年电子商务市场交易规模</h3>
					<p>2015年期间B2C网络购物市场增长56.6%，C2C市场19.5%增速。</p>
				</div>
			</div>
		</div>
		<div style="background-color: #fff;padding: 80px 0">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">消费金融的市场现状</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">消费金融的目标是“做透”细分场景下的全产业链</p>
			</div>
			<div style="background:url(../images/market.png) center top no-repeat #fff;height: 335px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 335px;width:100%;display:none">
				</div>
			</div>
		</div>
		<div style="background-color: #f8f8f8;padding: 80px 0">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">消费金融的用户构成</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">消费金融的客户群体偏向于中青年， 20-29岁是消费金融客户群主体，也是P2P金融、分期等消费金融服务类公司的掘金主体</p>
			</div>
			<div style="background:url(../images/users_constitution.png) center top no-repeat #f8f8f8;height: 333px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 333px;width:100%;display:none">
				</div>
			</div>
		</div>
		<div style="background-color: #fff;padding: 80px 0">
			<div style="padding-bottom: 80px; text-align: center">
				<h3 style=" font-size: 36px;color: #f76a3d; font-weight: 400;margin: 0;padding: 0">80-90后消费群体认知</h3>
				<p style="line-height: 1.5;font-size:16px;margin:0;padding:0">80-90后成互联网消费金融主力军，得之者得天下</p>
			</div>
			<div style="background:url(../images/groups.png) center top no-repeat #fff;height: 344px;position:relative">
				<div style="position:absolute;left:0;top:0;height: 344px;width:100%;display:none">
				</div>
			</div>
		</div>
	</div>
</body>
</html>